/* Search bar design */

.searchIcon {
    /* color: crimson; */
    /* background-image: url("searchIcon.png"); */
    width: 30px;
    height: 30px;
    position: fixed;
    float: right;
    top: 1vh;
    right: 1vw;
    margin: auto;
}

.w3-round-xxlarge {
    width: 192px;
    height: 21px;
    position: fixed;
    right: 2.8vw;
    top: 2vh;
    float: right;
    box-sizing: content-box;
    box-shadow: black;
}

/* 
input[type=text] {
    box-sizing: content-box;
    border: none;
    border-bottom: black;
} */