.search {
    margin: auto;
    height: 10vh;
}

.postItem {
    list-style: none;
    border: orchid 2px solid;
    border-radius: 1px 15px 15px 15px;
    padding: 1vh 0;
    margin: 2vh auto;
    text-align: left;
    max-width: 70vw;
    min-width: 30vw;
    color: black;
}
.postTitle {
    margin-left: 2vw;
    text-decoration: none;
    color: black;
}

.searchButton {
    width: 5vw;
    max-height: 5vh;
    position: fixed;
    float: right;
    top: 1vh;
    right: 1vw;
}

.searchInput {
    width: 10vw;
    max-height: 5vh;
    position: fixed;
    right: 6vw;
    top: 1vh;
    float: right;
}

.postTitle:visited {color:gainsboro;}
.postTitle:active {color: red;}
.postTitle:hover {color: red;}